@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap; /* чтобы шрифт не блокировался и имел бесконечный период подмены */
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  min-width: 1366px;
  margin: 0;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #2D3440;
  background-color: #FEAFC3;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 12px 32px;
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 10%);
  border-radius: 26px;
  cursor: pointer;
}

.button-main {
  color: #2D3440;
  background-color: #FFFFFF;
  background-clip: padding-box;
  border-radius: 26px;
  border: none;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 10%);
  outline: 4px solid rgba(252, 252, 252, 40%);
  text-decoration: none;
}

.button-main:hover {
  color: #2D3440;
  background: rgba(252, 252, 252, 40%);
  border-radius: 26px;
  outline: 4px solid #FFFFFF;
  box-shadow: 0 4px 15px rgba(133, 133, 133, 15%);
}

.button-main:focus {
  color: #2D3440;
  background: rgba(252, 252, 252, 50%);
  border-radius: 26px;
  outline: 2px solid #2D3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 10%);
}

.button-main:active {
  color: #2D3440;
  background: #FFFFFF;
  border-radius: 26px;
  outline: 2px solid #2D3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 10%);
}

.button-main:disabled {
  color: #2D3440;
  background: #E7E7E7;
  border-radius: 26px;
  outline: 4px solid rgba(252, 252, 252, 40%);
}

.social-link {
  position: relative;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 30%);
}

.social-icon {
  color: #FFFFFF;
}

.social-link:hover {
  border-radius: 50%;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 50%);
}

.social-link:hover::before {
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: -1;
  width: 15px;
  height: 15px;
  background: #2D3440;
  content: "";
}

.social-link:focus {
  background: #2D3440;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #2D3440;
}

.social-link:active {
  background: #2D3440;
  border-radius: 50%;
  opacity: 0.5;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 50%);
}

.taste-price-link,
.product-cart-button {
  position: relative;
  min-width: 28px;
  height: 28px;
  padding: 0;
  background: #FF2F64;
  border: 2px solid #FF2F64;
  border-radius: 50%;
}

.product-cart-button {
  min-width: 32px;
  height: 32px;
}

.taste-price-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #FFFFFF;
}

.taste-price-link:hover,
.product-cart-button:hover {
  background: rgba(252, 252, 252, 30%);
  border-radius: 50%;
  border: 2px solid #FF2F64;
}

.taste-price-link:hover .taste-price-icon,
.product-cart-button:hover .taste-price-icon {
  color: #2D3440;
}

.taste-price-link:focus,
.product-cart-button:focus {
  background: #FF2F64;
  border-radius: 50%;
  border: 2px solid #2D3440;
}

.taste-price-link:focus .taste-price-icon,
.product-cart-button:focus .taste-price-icon {
  color: #FFFFFF;
}

.taste-price-link:active,
.product-cart-button:active {
  background: #FFCBD8;
  border-radius: 50%;
  border: 2px solid #FF2F64;
}

.taste-price-link:active .taste-price-icon,
.product-cart-button:active .taste-price-icon {
  color: #2D3440;
}

.taste-price-link:disabled,
.product-cart-button:disabled {
  background: #B9B9B9;
  border-radius: 50%;
  border: 2px solid #B9B9B9;
}

.taste-price-icon:disabled .taste-price-icon,
.product-cart-button:disabled .taste-price-icon {
  color: #565C66;
}

.button-additional,
.contacts-button {
  margin-bottom: 10px;
  color: #FFFFFF;
  background-color: #FF2F64;
  background-clip: padding-box;
  border-radius: 26px;
  border: none;
  outline: 4px solid rgba(255, 47, 100, 30%);
}

.button-additional:hover {
  color: #2D3440;
  background: rgba(252, 252, 252, 30%);
  border-radius: 26px;
  outline: 4px solid #FF2F64;
}

.button-additional:focus {
  color: #FFFFFF;
  background: #FF2F64;
  border-radius: 26px;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 10%);
  outline: 2px solid #2D3440;
}

.button-additional:active {
  color: #FFFFFF;
  background: #FEAFC3;
  border-radius: 26px;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 10%);
  outline: 2px solid #2D3440;
}

.button-additional:disabled {
  color: #565C66;
  background: #B9B9B9;
  border-radius: 26px;
  outline: 4px solid rgba(185, 185, 185, 30%);
}

.form-input:hover {
  color: #2D3440;
  background: #FFFFFF;
  border-radius: 4px;
  outline: 1px solid #2D3440;
}

.form-input:focus {
  color: #2D3440;
  background: #FFFFFF;
  border-radius: 4px;
  outline: 2px solid #2D3440;
}

.form-input-error {
  color: #2D3440;
  background: #FFFFFF;
  border-radius: 4px;
  outline: 1px solid #EA5454;
}

.form-input-error:hover {
  color: #2D3440;
  background: #FFFFFF;
  border-radius: 4px;
  outline: 1px solid #EA5454;
}

.form-input:disabled {
  color: #2D3440;
  background: #E7E7E7;
  border-radius: 4px;
  opacity: 0.65;
  outline: 1px solid #B9B9B9;
}

.form-input-disabled:hover {
  color: #2D3440;
  background: #E7E7E7;
  border-radius: 4px;
  outline: 1px solid #B9B9B9;
}

/* Pages */
/* header */
.navigation {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.navigation-logo {
  padding: 24px 16px 0 0;
}

.page-header-logo:hover,
.page-header-logo:focus,
.page-header-logo:active {
  opacity: 0.8;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  max-width: 553px;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  list-style-type: none;
}

.navigation-user {
  margin-left: auto;
  padding-top: 19px;
}

.navigation-dropdown-list {
  list-style-type: none;
}

.navigation-link,
.navigation-link-address-phone {
  position: relative;
  display: block;
  max-width: 150px;
  padding: 8px 14px;
  line-height: 20px;
  text-align: center;
  color: #2D3440;
  text-decoration: none;
  border: 2px solid transparent;
}

.navigation-link-address-phone {
  padding-right: 7px;
  font-weight: 700;
  line-height: 20px;
}

.navigation-link-address-phone:hover,
.navigation-link-address-phone:focus,
.navigation-link-address-phone:active {
  color: rgba(86, 92, 102, 70%);
}

.navigation-link-search,
.navigation-link-login,
.navigation-link-cart {
  margin: 3px 8px;
  background: rgba(252, 252, 252, 30%);
  border-radius: 30px;
}

.navigation-link:hover:not(.active-nav) {
  color: #2D3440;
  background: rgba(252, 252, 252, 50%);
  border-radius: 30px;
}

.navigation-link:focus:not(.active-nav) {
  color: #2D3440;
  background: rgba(252, 252, 252, 50%);
  border: 2px solid #2D3440;
  border-radius: 30px;
}

.navigation-link:active:not(.active-nav) {
  color: #2D3440;
  background: #FFFFFF;
  border-radius: 30px;
}

.navigation-link-cart {
  margin-right: 0;
}

.navigation-link-search {
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}

.navigation-link-login,
.navigation-link-cart {
  padding: 5px 15px 3px 35px;
  letter-spacing: -1px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #2D3440;
}

.navigation-link-login .navigation-icon,
.navigation-link-cart .navigation-icon {
  right: auto;
  left: 13px;
  margin: auto 0;
}

.navigation-link-current {
  padding: 8px 14px 5px;
  color: #FFFFFF;
  background: #FF4A78;
  border-radius: 30px;
}

/* popover */
.popover-main {
  position: relative;
}

.popover-container {
  position: absolute;
  display: none;
}

.popover-main:focus-within .popover-container {
  z-index: 2;
  display: block;
  top: 44px;
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 12%);
}

.popover-main:focus-within .container-catalog {
  position: absolute;
  top: 46px;
  left: 1px;
  z-index: 2;
  display: flex;
  width: 135px;
  padding: 8px 0;
  flex-direction: column;
}

.popover-title {
  margin: 0 16px 4px;
  padding: 8px 0 10px;
  font-family: inherit;
  font-style: normal;
  font-size: inherit;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -1.2px;
  color: #2D3440;
  border-bottom: 1px solid #B9B9B9;
}

.popover-dropdown-list {
  margin: 0;
  padding: 0;
}

.popover-dropdown-item {
  list-style-type: none;
}

.popover-dropdown-item:hover {
  background-color: #FFCBD8;
}

.popover-dropdown-item:active {
  background-color: #FF7799;
}

.popover-dropdown-current {
  background: #FF4A78;
}

.popover-link {
  display: inline-block;
  padding: 6px 0 6px 16px;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.popover-main:focus-within .container-search {
  top: 44px;
  right: 8px;
  width: 324px;
  padding: 23px 16px;
  background: #FFFFFF;
  border-radius: 4px;
}

.search-form {
  display: flex;
}

.search-input {
  position: relative;
  width: 100%;
  padding: 14px 16px;
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  color: #B9B9B9;
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.search-input-close-icon {
  position: absolute;
  top: 46px;
  right: -11px;
	border: 1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  outline: 0;
  cursor: pointer;
}

.search-input-close-icon:after {
  position: absolute;
  top: 0;
  right: 40px;
  bottom: 0;
  z-index: 1;
  height: 16px;
  width: 16px;
  margin: auto;
  padding: 2px;
  opacity: 0.4;
  background-color: transparent;
  background-image: url(../images/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  content: "";
}

.search-input:not(:valid) ~ .search-input-close-icon {
	display: none;
}

.search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search-input:focus {
  border: 1px solid #B9B9B9;
}

.container-login {
  width: 324px;
  right: 8px;
  padding: 48px 48px 42px;
}

.popover-title-login,
.popover-title-cart {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  color: #2D3440;
  line-height: 30px;
}

.popover-form-login {
  display: grid;
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
  grid-row-gap: 13px;
  border: none;
}

.popover-form-input {
  padding: 14px 16px;
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.popover-form-button {
  display: flex;
}

.popover-button-login {
  margin-right: 23px;
}

.popover-login-link {
  display: flex;
  flex-direction: column;
}

.login-link {
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #2D3440;
  text-underline-position: under;
}

.login-link:hover,
.login-link:focus,
.login-link:active {
  color: #565C66;
}

.login-link:not(:last-child) {
  padding-bottom: 4px;
}

.container-cart {
  width: 345px;
  right: 0;
  padding: 48px 48px 17px;
}

.popover-main:focus-within .container-cart-empty {
  display: none;
}

.container-cart-empty {
  right: 0;
  width: 233px;
  padding: 48px;
  text-align: center;
}

.popover-content-cart {
  margin-bottom: 30px;
  padding-bottom: 27px;
  font-family: inherit;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2D3440;
  border-bottom: 1px solid #E7E7E7;
}

.popover-cart-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.popover-cart-item {
  display: grid;
  grid-template-columns: 46px 1fr 0.6fr 16px;
  gap: 16px;
}

.popover-cart-item:not(:last-child) {
  margin-bottom: 24px;
}

.popover-cart-name {
  margin: 0;
  padding: 0;
  margin-bottom: -4px;
  font-family: inherit;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #2D3440;
}

.popover-cart-description {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #B9B9B9;
}

.popover-cart-price {
  margin: 0;
  padding: 0;
  padding-top: 8px;
  font-family: inherit;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  color: #2D3440;
}

.popover-cart-deleted-button {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  box-shadow: none;
}

.popover-cart-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
}

.popover-price {
  font-family: inherit;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #2D3440;
}

.main-container {
  flex-grow: 1;
  padding-top: 40px;
}

/* slider */
.slider {
  margin-bottom: 82px;
}

.slide-order {
  position: relative;
  display: flex;
  align-items: center;
}

.slider-order {
  position: relative;
  display: flex;
  margin-right: 41px;
  order: 2;
}

.active-slider {
  order: 1;
  margin-right: 62px;
}

.active-slider .slider-text {
  min-width: 491px;
}

.slider-order::after {
  position: absolute;
  top: 99px;
  right: -6px;
  z-index: -1;
  display: block;
  width: 312px;
  height: 312px;
  background-color: #FFCBD8;
  border-radius: 50%;
  content: "";
}

.slider-order:not(.active-slider)::after {
  top: 30px;
  right: 0;
  max-width: 100px;
  max-height: 100px;
  opacity: 0.4;

}

.slider-order:not(.active-slider) .slide-image {
  max-width: 100px;
  max-height: 150px;
  opacity: 0.4;
}

.slider-order:not(.active-slider) .slider-text {
  display: none;
}

.slider-text {
  margin-left: 70px;
  padding-top: 114px;
}

.slider-title {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
}

.slider-description {
  margin-top: 0;
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 24px;
}

.slide-image {
  position: relative;
  width: 306px;
  height: 507px;
  box-sizing: border-box;
}

.slide-image::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  background-color: rgba(255, 47, 100, 30%);
  content: "";
}

.slider-button:hover {
  color: #2D3440;
  background: #FFFFFF;
  border-radius: 26px;
}

.slider-button:focus {
  color: #2D3440;
  background: rgba(252, 252, 252, 30%);
  border: 2px solid #2D3440;
  border-radius: 26px;
}

.slider-button:active {
  color: #2D3440;
  background: rgba(252, 252, 252, 50%);
  border-radius: 26px;
}

.slider-button:disabled {
  background: rgba(252, 252, 252, 30%);
  border: 2px solid #FFFFFF;
  border-radius: 26px;
  opacity: 0.4;
}

.slider-prev,
.slider-next {
  position: absolute;
  right: 590px;
  z-index: 1;
  min-width: 38px;
  min-height: 38px;
  color: #FFFFFF;
  background: rgba(252, 252, 252, 30%);
  border: 2px solid #FFFFFF;
  border-radius: 26px;
  transform: translateY(6%);
  cursor: pointer;
}

.slider-next {
  right: 278px;
}

.slider-social {
  display: flex;
  height: 24px;
  justify-content: space-between;
}

.slider-pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-button {
  min-width: 12px;
  min-height: 12px;
  margin-right: 8px;
  background: #FFFFFF;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button:not(.slider-pagination-button-current) {
  opacity: 0.3;
}

.slider-pagination-button:hover {
  background: rgba(252, 252, 252, 30%);
  border-radius: 50%;
  outline: 1px solid #FFFFFF;
  opacity: 1;
}

.slider-pagination-button:focus {
  background: rgba(252, 252, 252, 30%);
  border-radius: 50%;
  outline: 1px solid #2D3440;
  opacity: 1;
}

.slider-pagination-button:active {
  background: #FFFFFF;
  border-radius: 50%;
  opacity: 0.5;
}

.slider-social-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  list-style-type: none;
}

.slider-social-item:not(:last-child) {
  margin-right: 16px;
}

/* gift */
.gift {
  margin-bottom: 62px;
}

.gift-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gift-title {
  margin-top: 0;
  margin-bottom: 54px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.gift-features {
  display: grid;
  width: 498px;
  margin-bottom: 20px;
  padding: 36px;
  grid-template-columns: repeat(3, 1fr);
  background-color: #FF7799;
  border-radius: 16px;
}

.gift-features-container {
  grid-column: 1 / 3;
}

.raspberry-jam-image {
  background-image: url("../images/raspberry-jam.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.marshmallow-image {
  background-image: url("../images/marshmallow.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.gift-subtitle {
  margin-top: 0;
  margin-bottom: 29px;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}

.gift-description {
  margin-top: 0;
  margin-bottom: 26px;
  line-height: 22px;
}

/* taste */
.taste {
  margin-bottom: 80px;
}

.taste-title {
  margin-top: 0;
  margin-bottom: 106px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
}

.taste-list {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(4, 270px);
  gap: 80px 30px;
}

.taste-item,
.product-list {
  display: flex;
  width: 190px;
  padding: 0 40px;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
}

.taste-item,
.product-cart {
  position: relative;
  background-color: #FFFFFF;
  border-radius: 8px;
}

.taste-item-image,
.product-cart-image {
  position: absolute;
  top: -51px;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 50%;
}

.taste-name,
.product-cart-title {
  margin-top: 133px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #2D3440;
}

.product-cart-title {
  margin-bottom: 9px;
}

.taste-description,
.product-cart-description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #565C66;
}

.taste-add,
.product-cart-add {
  display: flex;
  margin: 0;
  margin-bottom: 8px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.product-cart-add {
  margin-bottom: 9px;
}

.taste-price,
.product-cart-price {
  font-size: 20px;
  font-weight: 700;
}

.price {
  padding: 0 2px;
}

/* info-shop */
.info-shop {
  margin-bottom: 80px;
  padding: 24px;
  background-image: url("../images/bg-wafer.jpg");
  border-radius: 16px;
}

.info-shop-cart {
  padding: 57px 40px 55px;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.info-shop-title {
  margin-top: 0;
  margin-bottom: 56px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
}

.info-shop-list {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr 1fr;
  gap: 40px 32px;
  list-style-type: none;
}

.info-shop-item {
  position: relative;
  padding-left: 64px;
}

.info-shop-item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  content: "";
}

.icecream:before {
  background-image: url("../images/icecream.svg");
}

.animal:before {
  background-image: url("../images/animal.svg");
}

.leaf:before {
  background-image: url("../images/leaf.svg");
}

.thermometer:before {
  background-image: url("../images/thermometer.svg");
}

.info-shop-description {
  margin: 0;
  line-height: 22px;
  color: #565C66;
}

/* subscription */
.subscription {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  flex-wrap: wrap;
}

.subscription-blog {
  width: 538px;
  padding-top: 34px;
  padding-left: 32px;
  background-image: url("../images/bg-news.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 16px;
}

.subscription-blog-description {
  margin: 0;
  margin-bottom: 12.22px;
  line-height: 20px;
  color: #565C66;
}

.subscription-blog-title {
  margin: 0;
}

.subscription-blog-link {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2D3440;
  text-decoration: none;
}

.subscription-mailing {
  width: 558px;
  padding: 6px;
  background-image: url("../images/bg-lines.jpg");
  border-radius: 16px;
}

.subscription-form {
  padding: 28px 26px 20px;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.subscription-form-description {
  margin: 0;
  margin-bottom: 42px;
  line-height: 22px;
  color: #565C66;
}

.newsletter-input {
  min-width: 300px;
  margin-right: 14px;
  padding: 14px 16px;
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  outline: 1px solid #B9B9B9;
}


/* delivery */
.delivery {
  display: flex;
  margin-bottom: 80px;
  justify-content: space-evenly;
  background-image: url("../images/bg-delivery.jpg");
  background-size: cover;
  border-radius: 16px;
}

.delivery-description {
  max-width: 500px;
  padding-top: 168px;
  padding-left: 100px;
}

.delivery-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

.delivery-text {
  line-height: 22px;
  color: #565C66;
}

.delivery-form-input {
  padding: 14px 16px;
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
  border: none;
  border-radius: 4px;
  outline: 1px solid #B9B9B9;
}

.delivery-info {
  margin: 64px;
  width: 420px;
  padding: 40px 40px 31px;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 12%);
}

.delivery-info-title {
  margin-top: 0;
  margin-bottom: 35px;
  line-height: 21px;
  color: #565C66;
}

.delivery-form {
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 20px 16px;
}

.delivery-form-text {
  display: flex;
  margin-bottom: 8px;
  padding-right: 16px;
}

/* tooltip */
.delivery-form-label {
  font-weight: 700;
  line-height: 20px;
}

.delivery-tooltip {
  position: relative;
  width: 14px;
  height: 14px;
  margin-top: 2px;
  margin-left: 4px;
}

.delivery-form-info {
  display: block;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.delivery-form-icon {
  display: block;
  color: #2D3440;
}

.delivery-form-info:hover .delivery-form-icon {
  color: #B9B9B9;
}

.delivery-tooltip-text {
  position: absolute;
  top: -90%;
  left: 21px;
  z-index: 1;
  display: none;
  min-width: 160px;
  padding: 10px 8px;
  font-family: inherit;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  color: #565C66;
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 1px;
  box-shadow: 0 4px 8px rgba(194, 194, 194, 20%);
}

.delivery-form-info:hover + .delivery-tooltip-text,
.delivery-form-info:focus + .delivery-tooltip-text {
  display: block;
}

.delivery-tooltip-text::before {
  position: absolute;
  left: -17px;
  z-index: 2;
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right: 7px solid #B9B9B9;
  content: "";
}

.delivery-tooltip-text::after {
  position: absolute;
  top: 10px;
  left: -16px;
  z-index: 2;
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right: 7px solid #FFFFFF;
  content: "";
}

.delivery-form-date,
.delivery-form-phone,
.delivery-form-address {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.delivery-form-address {
  grid-column: 1 / -1;
  margin-bottom: 12px;
}

.delivery-form-button {
  grid-column: 1 / -1;
  justify-self: center;
}


/* contacts */
.contacts {
  padding: 64px;
  color: #565C66;
  background-image: url("../images/bg-contacts.jpg");
  border-radius: 16px;
  background-repeat: round;
  background-size: cover;
}

.contacts-address {
  display: flex;
  align-items: flex-start;
  width: 263px;
  padding: 41px 40px 32px;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 12%)
}

.contacts-address-subtitle {
  margin-top: 0;
  margin-bottom: 13px;
  font-style: normal;
  line-height: 21px;
  color: #565C66;
}

.contacts-address-text {
  margin-top: 0;
  margin-bottom: 25px;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
}

.contacts-phone-subtitle {
  margin-top: 0;
  margin-bottom: 12px;
  font-style: normal;
  line-height: 22px;
  color: #565C66;
}

.contacts-phone {
  margin: 0;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #2D3440;
  text-decoration: none;
}

.contacts-phone-time {
  margin-top: 0;
  margin-bottom: 31px;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
}

/* footer */
.page-footer-container {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  padding-top: 47px;
  padding-bottom: 47px;
}

.main-footer-container {
  padding-top: 44px;
}

.footer-social {
  width: 120px;
  margin-right: 136px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 24px;
  height: 24px;
  margin: 0 12px 10px 4px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.footer-partnership {
  margin-left: auto;
  width: 356px;
}

.footer-partnership-list {
  display: grid;
  grid-template-columns: auto auto;
  margin: 0;
  margin-top: -2px;
  padding: 0;
  flex-basis: min-content;
  gap: 2px 0;
  list-style-type: none;
}

.footer-partnership-item {
  position: relative;
}

.footer-partnership-link-provider:first-child::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -24px;
  margin: auto 0;
  width: 15px;
  height: 15px;
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  content: "";
}

.footer-partnership-link-provider {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #2D3440;
  text-decoration: none;
}

.footer-partnership-link {
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.footer-copyright {
  width: 193px;
  margin-right: 15px;
  margin-left: auto;
}

.footer-description-link {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;
}

.page-footer-logo {
  max-width: 100%;
  height: auto;
  margin-bottom: 8px;
}

.page-footer-logo:hover,
.page-footer-logo:focus,
.page-footer-logo:active {
  opacity: 0.8;
}

.htmlacademy-logo-link {
  margin-top: 0;
}

.htmlacademy-link {
  color: #2D3440;
  text-underline-position: under;
}

.htmlacademy-link:hover,
.htmlacademy-link:focus,
.htmlacademy-link:active {
  color: rgba(86, 92, 102, 70%);
}

/*  MODAL   */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(45, 52, 64, 30%);
}

.modal-close {
  display: none;
}

.modal {
  position: relative;
  width: 570px;
  margin: auto;
  background: #FFFFFF;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 12%);
  border-radius: 8px;
}

.modal-content {
  padding: 65px 64px 52px;
}

.modal-close-button {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-image: url("../images/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2D3440;
}

.modal-form-login {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-bottom: 47px;
  border: none;
}

.modal-form-input {
  margin-bottom: 16px;
  padding: 14px 16px;
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #B9B9B9;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.modal-textarea {
  padding: 14px 16px;
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #B9B9B9;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  resize: none;
}

.modal-form-input:hover,
.modal-textarea:hover {
  border-radius: 4px;
  border: 1px solid #2D3440;
}

.modal-form-input:focus,
.modal-textarea:focus {
  border-radius: 4px;
  border: 2px solid #2D3440;
}

.modal-button-login {
  display: flex;
  margin-left: auto;
}

/* CATALOG */
.main-inner {
  padding-top: 48px;
  flex-grow: 1;
}

/* header */
.breadcrumbs {
  display: flex;
  margin-top: 0;
  margin-bottom: 15px;
  padding: 0;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: #2D3440;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 28px;
}

.breadcrumbs-item:nth-last-child() {
  margin-right: 0;
}

.breadcrumbs-link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #2D3440;
  text-decoration: none;
}

.breadcrumbs-item::after {
  position: absolute;
  top: 9px;
  right: -18px;
  display: block;
  width: 8px;
  height: 7px;
  background: url("../images/breadcrumbs.svg") no-repeat;
  content: "";
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.active-breadcrumbs {
  text-decoration: underline;
  text-underline-position: under;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

/* form */
.catalog-filter {
  display: flex;
  margin-bottom: 95px;
  flex-wrap: wrap;
  gap: 15px 0;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  max-width: 700px;
  margin-right: 24px;
  border: none;
}

.catalog-filter-group:nth-child(4) {
  margin-right: 16px;
}

.catalog-filter-list {
  display: flex;
  margin: 0;
  list-style-type: none;
  background: rgba(252, 252, 252, 30%);
  border-color: transparent;
  border-radius: 20px;
}

.radio-catalog-list {
  display: flex;
  padding: 6px 14px;
}

.radio-catalog-item {
  margin: 0 8px 0 9px;
}

.catalog-filter-title {
  margin-left: 14px;
  margin-bottom: 7px;
  font-size: 14px;
  line-height: 20px;
}

.checkbox-catalog-title {
  margin-bottom: 9px;
}

.checkbox-catalog-list {
  padding: 8px 7px 8px 23px;
}

.checkbox-catalog-item {
  margin-right: 17px;
}

.select-control {
  padding: 8px 18px 9px 14px;
  font-family: inherit;
  font-style: normal;
  letter-spacing: 0.45px;
  background-color: rgba(252, 252, 252, 30%);
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 13px center;
  border: 2px solid transparent;
  border-radius: 20px;
  appearance: none;
}

.select-control:focus {
  color: #2D3440;
  border-radius: 20px;
  border: 2px solid #FFFFFF;
}

.select-control:hover {
  color: #2D3440;
  background: rgba(252, 252, 252, 50%);
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 13px center;
  border-radius: 20px;
}

/* Range */
.range-wrapper {
  min-width: 164px;
  padding: 17px 16px;
  background: rgba(252, 252, 252, 30%);
  border-radius: 20px;
}

.range-scale {
  position: relative;
  width: 100%;
  height: 2px;
  background: rgba(86, 92, 102, 30%);
  border-radius: 2px;
  cursor: pointer;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #565C66;
}

.range-toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  padding: 0;
  border-radius: 50%;
  background: #FFFFFF;
  border: 6px solid #2D3440;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #2D3440;
  border-radius: 50%;
  border: 6px solid #FFFFFF;
}

.range-toggle:focus {
  background-color: #2D3440;
  border-radius: 50%;
  border: 6px solid #FFFFFF;
  box-shadow: 0 0 0 2px #2D3440;
}

.range-toggle:active {
  background-color: #2D3440;
}

.toggle-min {
  top: -7px;
  left: -16px;
}

.toggle-max {
  top: -7px;
  right: -16px;
}

.range-wrapper-inputs {
  display: flex;
  letter-spacing: -1.2px;
}

.catalog-filter-label {
  display: flex;
  letter-spacing: 0;
}

.range-input {
  width: 30px;
  padding: 0 2px;
  font-family: inherit;
  font-style: normal;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

/* radio and checkbox*/
.control {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.control-label {
  letter-spacing: -1.2px;
  color: #2D3440;
}

.control-input:checked ~ .radio-false {
  display: none;
}

.control-input:checked ~ .checkbox-true {
  display: none;
}

.control-input:not(:checked) ~ .radio-icon:not(.radio-false) {
  display: none;
}

.control-input:not(:checked) ~ .checkbox-icon:not(.checkbox-true)  {
  display: none;
}

.radio-icon,
.checkbox-icon {
  margin-right: 8px;
  flex-shrink: 0;
}

.control:hover .radio-icon,
.control:hover .checkbox-icon {
  color:#FFFFFF;
}

.control:disabled .radio-icon,
.control:disabled .checkbox-icon {
  color: #2D3440;
  opacity: 0.5;
}

.catalog-button {
  align-self: end;
  padding: 10px 52px 7px 53px;
  letter-spacing: -1.34px;
  color: #2D3440;
  background-color: rgba(252, 252, 252, 30%);
  border: 2px solid #FFFFFF;
  border-radius: 20px;
}

.catalog-button:hover {
  color: #2D3440;
  background: #FFFFFF;
  border-radius: 20px;
  border: 2px solid rgba(252, 252, 252, 30%);
}

.catalog-button:focus {
  color: #2D3440;
  background: rgba(252, 252, 252, 30%);
  border-radius: 20px;
  border: 2px solid #2D3440;
}

.catalog-button:active {
  color: #2D3440;
  background: rgba(252, 252, 252, 50%);
  border-radius: 20px;
  border: 2px solid rgba(252, 252, 252, 0%);
}

.catalog-button:disabled {
  color: #2D3440;
  background: rgba(252, 252, 252, 30%);
  border-radius: 20px;
  border: 2px solid #FFFFFF;
  opacity: 0.4;
}

/* product */
.product-list {
  display: grid;
  margin-top: 0;
  margin-bottom: 52px;
  padding: 0;
  width: 1170px;
  grid-template-columns: repeat(4, 270px);
  gap: 91px 30px;
}

.product-cart {
  display: flex;
  width: 190px;
  padding: 0 40px;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
}

.product-cart-link {
  text-decoration: none;
}

.catalog-products-pagination {
  display: grid;
  padding-bottom: 74px;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid rgba(252, 252, 252, 30%);
}

.catalog-products-button {
  margin: 6px 98px;
  grid-column: 2;
}

.pagination-list {
  display: flex;
  margin-left: auto;
  padding: 0;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}

.pagination-link {
  display: flex;
  min-width: 24px;
  padding: 2px 6px;
  justify-content: center;
  box-sizing: border-box;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.pagination-link:hover:not(.pagination-disabled) {
  color: #2D3440;
  background: rgba(252, 252, 252, 50%);
  border-radius: 50px;
}

.pagination-link:focus:not(.pagination-disabled) {
  color: #2D3440;
  background: rgba(252, 252, 252, 30%);
  outline: 1px solid #2D3440;
  border-radius: 50px;
}

.pagination-link:active:not(.pagination-disabled) {
  color: #2D3440;
  background: rgba(252, 252, 252, 50%);
  outline: 1px solid #FFFFFF;
  border-radius: 50px;
}

.pagination-prev,
.pagination-next {
  padding: 3px;
}

.pagination-current {
  background: #FFFFFF;
  border-radius: 76px;
}

.pagination-disabled .pagination-icon {
  opacity: 0.3;
}
